<!DOCTYPE html>
<html lang="{{ app.request.locale }}">
<head>
    <meta charset="UTF-8" />
    <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
    <meta name="robots" content="noindex,nofollow">

    <title>{% block title %}{{ userConfiguration.title | striptags }} Admin{% endblock %}</title>
    {% block stylesheets %}{% endblock %}
    <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
</head>
<body class="skin-black {% block body_classes %}{% endblock %}">
{% block javascripts %}{% endblock %}
{% block body %}{% endblock %}
</body>
</html>