{% extends 'AdminGeneratorBundle:admin:base.html.twig' %}

{% block stylesheets %}

    <!-- AdminLTE dependencies -->
    <link rel="stylesheet" href="{{ asset('bundles/admingenerator/css/adminlte/bootstrap.min.css') }}">
    <link rel="stylesheet" href="{{ asset('bundles/admingenerator/css/adminlte/font-awesome.min.css') }}">
    <link rel="stylesheet" href="{{ asset('bundles/admingenerator/css/adminlte/ionicons.min.css') }}">
    <link rel="stylesheet" href="{{ asset('bundles/admingenerator/css/adminlte/jquery-jvectormap-1.2.2.css') }}">
    <link rel="stylesheet" href="{{ asset('bundles/admingenerator/css/adminlte/adminlte.min.css') }}">
    <link rel="stylesheet" href="{{ asset('bundles/admingenerator/css/adminlte/_all-skins.min.css') }}">

    <!-- Plugins -->
    <link rel="stylesheet" href="{{ asset('bundles/admingenerator/css/adminlte/awesome-bootstrap-checkbox.css') }}">
    <link rel="stylesheet" href="{{ asset('bundles/admingenerator/css/adminlte/select2.min.css') }}">
    <link rel="stylesheet" href="{{ asset('bundles/admingenerator/css/adminlte/quill.snow.css') }}">
    <link rel="stylesheet" href="{{ asset('bundles/admingenerator/css/adminlte/switch.css') }}">

    <!-- Backoffice -->
    <link rel="stylesheet" type="text/css" href="{{ asset('bundles/admingenerator/css/main.css') }}" media="screen" />

{% endblock %}

{% block javascripts %}
    <!-- AdminLTE dependencies -->
    <script src="{{ asset('bundles/admingenerator/js/adminlte/jquery-2.2.3.min.js') }}"></script>
    <script src="{{ asset('bundles/admingenerator/js/adminlte/bootstrap.min.js') }}"></script>
    <script src="{{ asset('bundles/admingenerator/js/adminlte/fastclick.min.js') }}"></script>
    <script src="{{ asset('bundles/admingenerator/js/adminlte/app.min.js') }}"></script>
    <script src="{{ asset('bundles/admingenerator/js/adminlte/jquery.sparkline.min.js') }}"></script>
    <script src="{{ asset('bundles/admingenerator/js/adminlte/jquery-jvectormap-1.2.2.min.js') }}"></script>
    <script src="{{ asset('bundles/admingenerator/js/adminlte/jquery-jvectormap-world-mill-en.js') }}"></script>
    <script src="{{ asset('bundles/admingenerator/js/adminlte/jquery.slimscroll.min.js') }}"></script>
    <script src="{{ asset('bundles/admingenerator/js/adminlte/Chart.min.js') }}"></script>
    <script src="{{ asset('bundles/admingenerator/js/adminlte/select2.min.js') }}"></script>
    <script src="{{ asset('bundles/admingenerator/js/adminlte/quill.js') }}"></script>
    <script src="{{ asset('bundles/admingenerator/js/adminlte/switch.min.js') }}"></script>

    <script src="{{ asset('bundles/admingenerator/js/main.js') }}"></script>
{% endblock %}