
{% if breadcrumb is defined %}
    <h1>
        {{ breadcrumb.sectionTitle | capitalize }}
        <small>{{ breadcrumb.sectionDescription |capitalize }}</small>
    </h1>
    <ol class="breadcrumb">
        {% if app.request.attributes.get('_route') != 'admin_generator_dashboard' %}
            <li>
                <a href="{{ path('admin_generator_dashboard') }}">
                    {{ 'admin.generator.dashboard' | trans | capitalize }}
                </a>
            </li>
        {% endif %}

        {% if breadcrumb.entityClassLabel %}
            <li>
                {% if breadcrumb.entityClassLabel.path %}
                    <a href="{{ breadcrumb.entityClassLabel.path }}">
                {% endif %}
                {{ breadcrumb.entityClassLabel.label }}
                {% if breadcrumb.entityClassLabel.path %}
                    </a>
                {% endif %}
            </li>
        {% endif %}

        {% if breadcrumb.entityLabel %}
            <li>
                {% if breadcrumb.entityLabel.path %}
                    <a href="{{ breadcrumb.entityLabel.path }}">
                {% endif %}
                {{ breadcrumb.entityLabel.label }}
                {% if breadcrumb.entityLabel.path %}
                    </a>
                {% endif %}
            </li>
        {% endif %}
    </ol>
{% endif %}