{% extends '@AdminGenerator/admin/layout.html.twig' %}

{% form_theme form with ['bootstrap_3_layout.html.twig', '@AdminGeneratorBundle/Resources/views/form/fields.html.twig'] %}

{% block content %}
    <div class="box box-primary">
        {{ form_start(form) }}
        <div class="box-body">
            {% for formElement in form.children %}
                {% if formElement.vars.name != 'create' %}
                    <div class="form-group">
                        {% if formElement.vars.name != '_token' %}
                            {{ form_label(formElement) }}
                        {% endif %}
                        {{ form_errors(formElement) }}
                        {{ form_widget(formElement, {'attr': {'class' : 'form-control'}}) }}
                    </div>
                {% endif %}
            {% endfor %}

            <div class="box-footer">
                {% for formElement in form.children %}
                    {% if formElement.vars.name == 'create' %}
                        {{ form_widget(formElement, {'attr': {'class' : 'btn btn-primary'}}) }}
                    {% endif %}
                {% endfor %}
            </div>
        </div>
        {{ form_end(form) }}
    </div>
{% endblock %}