
{% extends '@AdminGenerator/admin/base_assets.html.twig' %}

{% block body %}
    <div class="wrapper">
        <header id="main-header" class="main-header">
            {% include('@AdminGenerator/admin/header.html.twig') %}
        </header>

        <div id="backoffice-sidebar" class="sidebar-wrapper">
            {% include('@AdminGenerator/admin/sidebar.html.twig') %}
        </div>

        <div id="backoffice-content" class="content-wrapper">
            <section class="content-header">
                {% include '@AdminGenerator/admin/breadcrumb.html.twig' %}
            </section>
            <section class="content">
                {% include('@AdminGenerator/admin/flashMessages.html.twig')  %}
                {% block content %}{% endblock %}
            </section>
        </div>

        <footer id="main-footer">
            {% include('@AdminGenerator/admin/footer.html.twig') %}
        </footer>
    </div>
{% endblock %}