{% extends '@AdminGenerator/admin/layout.html.twig' %}

{% do pagination.setTemplate('KnpPaginatorBundle:Pagination:twitter_bootstrap_v3_pagination.html.twig') %}

{% block content %}
    <div class="box box-default">
        <form method="post" id="delete-form" name="remove-form" action="{{ path('admin_generator_multiple_remove', {'entity' : entity}) }}">
            <div class="box-body">
                {% if pagination.getTotalItemCount > 0 %}
                    <div class="count">
                        <span class="label label-primary">
                            {{ 'admin.generator.total.entries' | trans | capitalize }}: {{ pagination.getTotalItemCount }}
                        </span>
                    </div>
                    <table class="table table-hover table-striped">
                        <thead>
                        <tr>
                            <th>
                                <div class="checkbox">
                                    <input type="checkbox" value="" id="all-checkbox-selector">
                                    <label for="all-checkbox-selector"></label>
                                </div>
                            </th>
                            {% for field in fields %}
                                <th>
                                    {{ field.name | capitalize }}
                                </th>
                            {% endfor %}
                            <th>{{ 'admin.generator.action' | trans | capitalize }}</th>
                        </tr>
                        </thead>
                        <tbody>
                            {% for instance in pagination %}
                                <tr>
                                    <td>
                                        <div class="checkbox">
                                            <input class="select-checkbox" type="checkbox" value="" name="entities[{{ instance.id }}]" id="select-checkbox-{{ instance.id }}">
                                            <label for="select-checkbox-{{ instance.id }}"></label>
                                        </div>
                                    </td>
                                    {% for field in fields %}
                                        <td>
                                            {{ attribute(instance, field.name) }}
                                        </td>
                                    {% endfor %}
                                    <td>
                                        <a href="{{ path('admin_generator_edit', {'entity' : entity, 'id' : instance.id}) }}">
                                            <button type="button" class="btn btn-primary">{{ 'admin.generator.edit' | trans | capitalize }}</button>
                                        </a>
                                        <a href="{{ path('admin_generator_remove', {'entity' : entity, 'id' : instance.id}) }}">
                                            <button data-id="{{ instance.id }}" type="button" class="btn btn-danger delete-button">
                                                {{ 'admin.generator.delete' | trans | capitalize }}
                                            </button>
                                        </a>
                                    </td>
                                </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                {% else %}
                    {{ 'admin.generator.no.entries' | trans | capitalize }}
                {% endif %}

            </div>
            <div class="box-footer">
                <a href="{{ path('admin_generator_new', {'entity': entity}) }}">
                    <button type="button" class="btn btn-primary">{{ 'admin.generator.new.entry' | trans | capitalize }}</button>
                </a>
                <button id="delete-general" type="submit" class="btn btn-danger">{{ 'admin.generator.delete.selected' | trans | capitalize }}</button>

                <div class="navigation pull-right">
                    {{ knp_pagination_render(pagination) }}
                </div>
            </div>
        </form>
    </div>
{% endblock %}