{% extends '@AdminGenerator/admin/layout.html.twig' %}

{% block content %}
    <div class="box box-default">
        <div class="box-body">
            {% if medias.getTotalItemCount > 0 %}
                <div id="media-gallery">
                    {% for media in medias %}
                        <img src="{{ getMediaPath(media) | imagine_filter('media_gallery_thumbnail') }}">
                    {% endfor %}
                </div>
            {% else %}
                {{ 'admin.generator.no.medias' | trans | capitalize }}
            {% endif %}
        </div>

        <div class="box-footer">
            <a href="{{ path('admin_generator_new_media') }}">
                <button type="button" class="btn btn-primary">{{ 'admin.generator.new.media' | trans | capitalize }}</button>
            </a>
        </div>
    </div>
{% endblock %}