<div class="main-sidebar">
    <!-- Inner sidebar -->
    <div class="sidebar">
        <!-- Sidebar Menu -->
        <ul class="sidebar-menu">
            <li class="treeview">
                <a href="#">
                    <i class="fa fa-folder"></i> <span>{{ 'admin.generator.entities' | trans | capitalize }}</span>
                    <span class="pull-right-container">
                      <i class="fa fa-angle-left pull-right"></i>
                    </span>
                </a>
                <ul class="treeview-menu" style="display: none;">
                    {% for entity in userConfiguration.entities %}
                        {% if entity.entity | lower != 'user' %}
                            <li>
                                <a href="{{ path('admin_generator_listview', {'entity' : entity.entity | lower}) }}">
                                    <i class="fa {{ entity.icon }}"></i><span>{{ entity.label }}</span>
                                </a>
                            </li>
                        {% endif %}
                    {% endfor %}
                </ul>
            </li>
            <li class="treeview">
                <a href="{{ path('admin_generator_listview', {'entity': 'user'}) }}">
                    <i class="fa fa-users"></i><span>{{ 'admin.generator.users' | trans | capitalize }}</span>
                </a>
            </li>
            <li class="treeview">
                <a href="{{ path('admin_generator_media') }}">
                    <i class="fa fa-picture-o"></i><span>{{ 'admin.generator.media.gallery' | trans | capitalize }}</span>
                </a>
            </li>
        </ul><!-- /.sidebar-menu -->
    </div><!-- /.sidebar -->
</div><!-- /.main-sidebar -->