/** List view table **/
section.content .box.box-default .box-body table.table td {
    vertical-align: middle;
}

/** Media gallery **/
#media-gallery {
    -moz-column-count: 4;
    -webkit-column-count: 4;
    column-count: 4;
}

#media-gallery img {
    width: 100%;
    height: auto;
    margin-bottom: 15px;
}

/** Switchery plugin **/
.switchery {
    margin-left: 4px;
    margin-top: -3px;
}